:root {
  --primary-color: #ff6c00;
  --secondary-color: #191c26;

  --text-primary: #9da4bd;
  --text-secondary: #303030;
  --font-family: ;
}

body {
  /* padding: 0 15px; */
  /* width: 1200px; */
  margin-left: auto;
  margin-right: auto;

  font-family: "Open sans", sans-serif;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-box {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
}

/* @keyframes infiniteRotete {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.primary-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #ffffff;
}

.suptitle-secondary,
.suptitle-prymary {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.suptitle-prymary {
  color: var(--text-secondary);
}

.logo-img {
  width: 68px;
  height: 56px;
  margin: 0 30px;
  margin-right: 70px;
  /* animation-name: infiniteRotete;
  animation-duration: 10000ms;
  animation-iteration-count: infinite; */
}

.header-box{
  position: relative;
}

.navbar {
  position: absolute;
  /* position: fixed; */
width: 100%;
  /* background-color: chocolate; */
}

.navbar__box--position{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.nav-holder {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:first-child) {
  margin-left: 40px;
}

.nav-list__link {
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.link-style {
  text-decoration: none;
}

.nav-list__link:hover,
.nav-list__link:focus,
.solial-box__link:hover,
.solial-box__link:focus {
  color: #ff6c00;
}

/* .content-link a {
  display: flex;
   justify-content: space-between; 
  align-items: center;
} */

.content-link a:first-child {
  margin-right: 40px;
}

.box-links{
  display: flex;
  align-items: center;
}

.box-links__phone {
  margin-right: 40px;

  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sidebar {
  display: flex;
  flex-direction: column-reverse;
  padding: 370px 40px 40px 50px;
  width: 100px;

}

.social-box {
  display: flex;
  flex-direction: column-reverse;
}


.container-hero{
  display: flex;
}

.hero {
  background-image: url(../images/slide2.jpg);
background-repeat: no-repeat;
background-size: cover;
  width: calc(100% - 100px);
  background-color: #000000;
  padding: 272px 500px 184px 100px;
}

.hero__slide {
 max-width: 500px;
 
}

.hero-title {
  margin-top: 20px;

  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero-description {
  margin-top: 20px;

  color: var(--text-primary);
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.67;
}

.solial-box__link {
  display: block;
  color: #303030;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  transform: rotate(-90deg);
  margin-bottom: 200px;
}



/*  About section  */

.about-section {
  padding: 130px 0;
}

.about-box {
  display: flex;
  justify-content: space-between;
  width: 100%;  
 
  /* background-color: chocolate; */
}

.about-box__images {
  display: flex;
}

.about-box__image{
  display: block;
}

.about-box__image:nth-child(1) {
  margin-right: 30px;
}

.about-box__information {
  margin-left: 64px;

  max-width: 500px;
}

.section-title {
  color: var(--text-secondary);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.section-subtitle {
  margin-bottom: 20px;

  color: #555;
  font-size: 18px;
  line-height: 1.67;
}

.section-description {
  margin-bottom: 40px;

  color: #555;

  font-size: 14px;
  line-height: 1.86;
}

.primary-btn--darken {
  color: #303030;
}

/* <!-- Услуги и цены --> */

.price-section {
  /* display: flex; */
  padding: 130px 0;

  background-image: url(../images/bgi-price.png);
  background-color: rgba(17, 19, 25, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* background-color: blueviolet; */
  /* background-image: url(..//images/bgi-price.jpg); */
}

.section-title--lighten {
  color: #ffffff;
  margin-bottom: 44px;
}

.price-box {
  display: flex;
  margin-bottom: 50px;
}

.price-box__list {
  width: 585px;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
}

.price-box__list:nth-child(odd) {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-box__list:nth-child(even) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-box__item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 30px;
  color: #9da4bd;
}

.price-box__item:not(:last-child) {
  margin-bottom: 20px;
}

.box-btn {
  display: flex;
  justify-content: center;
}

/* why us atyles here */

.advantages-section{
  padding: 130px 0;
}

.box-advantages {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.box-advantages__list {
  /* position: relative; */

  display: flex;
  flex-wrap: wrap;
  min-width: 170px;
  margin: -15px;
}

.box-advantages__item {
  /* position: absolute; */

  background-color: #f7f7f7;
  margin: 15px;
  max-width: 170px;
  padding: 20px 24px;
  text-align: center;
  line-height: 1.36;
}

.box-advantages__item:last-child{
  padding: 20px;
}

.box-advantages__title{
  display: block;
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 0.05em;
}

.box-advantages__subtitle {
  display: block;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.01em;
}

/* Masters section */

.masters-section {
  padding: 130px 0;
  background-color: #f7f7f7;
  display: flex;
}

.masters-list{
  margin: -15px;
  display: flex;
}

.masters-list__card {
  margin: 15px;
  max-width: calc((100% - 90px) / 3);

}

.member-card__title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--text-secondary);
}

.member-card__subtitle {
  text-align: center;
  color: #ff6c00;
}

.member-card__box {

  display: flex;
  justify-content: center;
  margin-top: 30px;
}





.lists-networks {

  display: flex;
}

.lists-networks__link:hover, .lists-networks__link:focus {
  cursor: pointer;
}

.lists-networks__link {

  display: inline-flex;
background-color: #FFFFFF;
          justify-content: center;

          align-items: center;
  width: 44px;
  height: 44px;

          border-radius: 50%;
}


.lists-networks__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lists-networks__link:hover .lists-networks__icon,
.lists-networks__link:focus .lists-networks__icon {
  fill: #FF6C00;;
}

.lists-networks__item:not(:last-child) {
  margin-right: 10px;
}









/* GALARY */

/* .suptitle-prymary::before{
  border:1px solid #303030 ;
  border-width: 60px;
} */
.galary-section{
  padding: 130px 0;
}

.galary-list {
  display: flex;
  margin: -15px;
}

.galary-list__item {
  margin: 15px;
}

/* FOOTER */
.footer{
  width: 100%;
  min-height: 640px;
  height: auto;
  background-color: $secondary-color;
  padding: 0 50px;
  display: flex;
  background-image: url(../images/Footer/footer-bg.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  color: $text-secondary;
}

.footer {
  background-color: #191c26;
  
  background-image: url(../images/Bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 625px 100%;
}

.box-footer {
  display: flex;


}

.box-footer-cont {
  padding: 0 100px;
  color: #9da4bd;
}

.box-footer-cont .section-title {
  margin-bottom: 40px;
  max-width: 625px;
}

address {
  text-transform: none;
  margin-bottom: 20px;
}

.link-mail,
.link-tel {
  display: block;
  text-transform: none;
}

.link-tel {
  margin-bottom: 20px;
}

.schedule-box {
  margin-top: 70px;
}

.schedule-box .suptitle-secondary {
  color: #fff;
}


/* FORM */



.footer-form-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-form, .footer-contacts{
  width: 50%;
  height: inherit;
  padding-right: 50px;
}

.footer-form .form-field{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9da4bd60;
  outline: none;
  margin-bottom: 40px;
  width: 100%;
  color: #fff;
}

.footer-form .field-label{
  position: relative;
  display: inline-block;
  width: calc(50% - 15px);
}

.field-label:hover .form-field,
.footer-form .form-field:focus{
  border-color: #fff;
}


.footer-form .field-label legend{
  transition: translate, .1s linear;
  position: absolute;
  color: #9da4bd60;
  top: -3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.field-label:hover legend{
  color: #fff;
}   
.footer-form .form-field:focus + legend{
  transform: translate(-2px, -24px);
  color: #fff;    
}


textarea.form-field{
  width: 100%;
  display: block;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;

}
textarea.form-field::placeholder{
  color: #9da4bd7c;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* 
.footer-contacts{
  padding: 130px 105px 130px 100px;
}

.contacts-box{
  padding-left: 40px;
}

.contacts-box > adress{
  position: relative;
}
.contacts-box > adress::before,
.contacts-box > a::before{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: -41px;
  top: 3px;
}

.contacts-box > adress::before{
  background-image: url(../images/icons/map-pin.svg);
}

.contacts-box a:nth-of-type(1)::before{
  background-image: url(../images/icons/phone.svg);
}

.contacts-box a:nth-last-of-type(1)::before{
  background-image: url(../images/icons/mail.svg);
}


.contacts-box > a{
  position: relative;
  display: block;
  color: $text-secondary;
}

.copyright{
  width: 100%;
  min-height: 125px;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.footer-contacts{
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $text-secondary;
} */