:root {
  --primary-color: #ff6c00;
  --secondary-color: #191c26;

  --text-primary: #9da4bd;
  --text-secondary: #303030;
  --font-family: ;
}

body {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Open sans", sans-serif;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
}

.header {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
}

.logo-img {
  width: 68px;
  height: 56px;
  margin: 0 30px;
}

.navbar {
  width: 1170px;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
  /* background-color: chocolate; */
}

.nav-holder {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
}

.item-menu {
  margin-left: 40px;
}

.nav-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.link-style {
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.social-link:hover,
.social-link:focus {
  color: #ff6c00;
}

/* .btn-box a {
  display: flex;
   justify-content: space-between; 
  align-items: center;
} */

.btn-box a:first-child {
  margin-right: 40px;
}

.phone-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sidebar {
  display: flex;
  flex-direction: column-reverse;
  width: 100px;
  height: 100vh;
}

.social-box {
}

.social-link {
  color: #303030;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  transform: rotate(-90deg);
}

.primary-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #ffffff;
}

.suptitle-secondary,
.suptitle-prymary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.suptitle-prymary {
  color: var(--text-secondary);
}

.slider {
  /* background-image: url(../images/Slider.png); */
  width: calc(100% - 100px);
  background-color: #000000;
}

.slide {
  width: 500px;
  margin: 272px 525px 260px 100px;
}

.hero-title {
  margin-top: 20px;

  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero-description {
  margin-top: 20px;

  color: var(--text-primary);
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.67;
}

.section-box {
  padding: 130px 0;
}

.about-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-box {
  display: flex;
  justify-content: space-between;
  background-color: chocolate;
}

.about-box h2.section-title {
  color: var(--text-secondary);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-subtitle {
  color: #555;
  font-size: 18px;
  line-height: 1.67;
}

.section-description {
  color: #555;
}

.primary-btn.darken {
  color: #303030;
}

.section-title.lighten {
  color: #ffffff;
}

.price-list {
  display: flex;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.price-item p,
.price-item span {
  font-size: 18px;
  line-height: 30px;
  color: #9da4bd;
}

/* why us atyles here */

.number-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 170px;
  width: 48%;
  padding: 0 100px;
}

.number-box {
  width: 48%;
}

.number-box p,
.number-box span {
  display: block;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.number-box span {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

.masters-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 300px;
}
